@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Base */
  --background: #f1f5f9;
  --foreground: #1e293b;
  --card: #f8fafc;
  --border: #e5e7eb;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;

  /* Primary & Secondary */
  --primary: #38bdf8;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --accent: #38bdf8;
  --accent-foreground: #ffffff;

  /* Status */
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}

.dark {
  --background: #0f172a;
  --foreground: #e2e8f0;
  --card: #2a2a2a;
  --border: #182130;
  --muted: #182130;
  --muted-foreground: #9ca3af;

  --primary: #06b6d4;
  --primary-foreground: #1e1e1e;
  --secondary: #374151;
  --secondary-foreground: #e5e7eb;
  --accent: #06b6d4;
  --accent-foreground: #1e1e1e;

  --destructive: #dc2626;
  --destructive-foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  *,
  *::before,
  *::after {
    transition: all 140ms linear;
    @apply m-0 p-0 box-border;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
  }

  .styled-scrollbar::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-xs bg-muted-foreground;
  }

  .styled-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .porse-force {
    &,
    & * {
      color: currentColor !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 !important;
    }

    & blockquote {
      padding-left: 4px !important;
      border-left-color: var(--accent) !important;
      border-left-width: 0.25rem !important;

      & p:first-of-type::before {
        content: none !important;
      }

      & p:last-of-type::after {
        content: none !important;
      }
    }

    & pre {
      padding: 20px !important;
    }

    & :where(code)::before,
    & :where(code)::after {
      content: none !important;
    }

    & ul,
    & ol {
      padding-left: 0 !important;
      list-style-position: inside !important;
    }

    & :where(p, li) {
      line-height: inherit !important;
    }
  }
}
