@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Base */
  --background: #f1f5f9;
  --foreground: #1e293b;
  --border: #f8fafc;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;

  /* Primary & Secondary */
  --primary: #3776ab;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --accent: #0284c7;
  --accent-foreground: #ffffff;

  /* Status */
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}

.dark {
  --background: #0f172a;
  --foreground: #e2e8f0;
  --border: #2a2a2a;
  --muted: #131d34;
  --muted-foreground: #9ca3af;

  --primary: #4584b6;
  --primary-foreground: #1e1e1e;
  --secondary: #374151;
  --secondary-foreground: #e5e7eb;
  --accent: #38bdf8;
  --accent-foreground: #1e1e1e;

  --destructive: #dc2626;
  --destructive-foreground: #e5e7eb;
}

@theme inline {
  --breakpoint-xs: 30rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  *,
  *::before,
  *::after {
    transition: all 140ms linear;
    @apply m-0 p-0 box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
  }

  .styled-scrollbar::-webkit-scrollbar {
    @apply size-2;
  }

  .styled-scrollbar-sm::-webkit-scrollbar {
    @apply size-1;
  }

  .styled-scrollbar::-webkit-scrollbar-track,
  .styled-scrollbar-sm::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb,
  .styled-scrollbar-sm::-webkit-scrollbar-thumb {
    @apply rounded-xs bg-muted-foreground;
  }
}

@layer utility {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

@layer components {
  .page-overlay {
    @apply size-full fixed top-0 left-0 z-10 bg-background/40 backdrop-blur-xs;
  }

  .card {
    @apply bg-muted/60 px-2 md:px-3.5 pt-1.5 pb-2 md:pb-3.5 rounded-xl shadow-sm relative border-2 border-transparent hover:border-primary hover:-translate-y-1;
  }

  .tag-container {
    @apply flex items-center justify-center flex-wrap gap-1.5;
  }

  .tag {
    @apply border-muted border px-2.5 py-0.5 text-muted-foreground rounded-md shadow-xs bg-muted/60 hover:bg-primary/10 hover:text-primary hover:border-primary text-sm;
  }

  .tag-active {
    @apply text-accent bg-primary/10 border-primary;
  }

  .open-sidebar-button {
    @apply border-accent-foreground! bg-muted/80! fixed left-1 top-16 p-2! z-4;
  }

  .close-sidebar-button {
    @apply [&>svg]:text-destructive! p-0.5! rounded-md! bg-transparent! hover:bg-destructive! hover:[&>svg]:text-foreground!;
  }

  .sidebar {
    @apply bg-muted rounded-lg shadow-sm shadow-muted fixed top-12 w-full xs:max-w-80 md:max-w-xs z-15 h-dvh select-none mt-1 px-3 py-4;
  }

  .code-editor-button {
    @apply flex! [&>svg]:size-4.5 items-center gap-2 border! text-sm;
  }
}
